:local(.button.button) {
  width: 22px;
  height: 22px;
  margin-right: 0;
  padding: 0;
  color: var(--bg);
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  background-color: transparent;
  border: none;
  border-radius: none;

  path {
    fill: var(--text);
  }

  svg {
    width: 22px;
    height: auto;
    margin-right: 0 !important;
    overflow: visible !important;
  }

  & > span {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .spinner {
    top: 0;

    span {
      width: 19px;
      height: 19px;
      border-width: 2px;
      border-color: rgba(0, 0, 0, 0.3);
      border-top-color: #fff;
    }
  }

  @media only screen and (max-width: 30em) {
    display: block !important;
  }

  [data-tooltip] {
    bottom: calc(100% + 13px);
    left: calc(50% - 3px);
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

:local(button.owned.owned) {
  path {
    fill: none;
  }

  g {
    stroke: var(--brand);
  }
}

:local(button.expanded.expanded) {
  width: auto;
  height: auto;
  padding: 9px 13px;
  color: var(--bg);
  font-weight: 500;
  font-size: 0.95em;
  background-color: var(--brand);
  border-radius: 4px;

  svg {
    margin-right: 10px !important;

    path {
      fill: var(--bg);
    }
  }

  &:hover,
  &:focus {
    background-color: var(--brand);
    svg path {
      fill: var(--bg);
    }
  }

  :local(svg.iconExpanded) {
    width: 15px;

    g {
      stroke: var(--bg);
    }
  }
}
